/* You can add global styles to this file, and also import other style files */

body{
  margin: 0;
  padding: auto;
  font-family: "Roboto", sans-serif;
}

header{
  position: fixed;
  background: #22242A ;
  padding: 20px;
  width: 100%;
  height: 30px;
}


