<!-- navbar Start -->

<nav class="navbar navbar-light fixed-top bg-light shadow-sm">
  <div class="container-lg">
    <a class="navbar-brand text-danger fw-bold fs-4" href="/">A.D.C</a>
    <div class="dropdown">
      <button class="btn btn-secondary btn-danger px-3" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="fas fa-bars"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
        <li><a class="dropdown-item active" href="#home">Home</a></li>
        <li><a class="dropdown-item" href="#about">About</a></li>
        <li><a class="dropdown-item" href="#services">Services</a></li>
        <li><a class="dropdown-item" href="#portfolio">Portfolios</a></li>
        <li><a class="dropdown-item" href="#contact">Contacto</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- navbar End -->
